    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    --f-spinner-width: 36px;
    --f-spinner-height: 36px;
    --f-spinner-color-1: rgba(0, 0, 0, 0.1);
    --f-spinner-color-2: rgba(17, 24, 28, 0.8);
    --f-spinner-stroke: 2.75;
    --f-button-width: 40px;
    --f-button-height: 40px;
    --f-button-border: 0;
    --f-button-border-radius: 0;
    --f-button-color: #374151;
    --f-button-bg: #f8f8f8;
    --f-button-hover-bg: #e0e0e0;
    --f-button-active-bg: #d0d0d0;
    --f-button-shadow: none;
    --f-button-transition: all 0.15s ease;
    --f-button-transform: none;
    --f-button-svg-width: 20px;
    --f-button-svg-height: 20px;
    --f-button-svg-stroke-width: 1.5;
    --f-button-svg-fill: none;
    --f-button-svg-filter: none;
    --f-button-svg-disabled-opacity: 0.65;
    --black-1: #000;
    --black-2: #282828;
    --gray-1: #eaeaea;
    --gray-2: #e2e5e0;
    --gray-3: #b6b6b6;
    --gray-4: #393a38;
    --gray-5: #777;
    --gray-6: #696969;
    --white-1: #fff;
    --green-1: #2ac500;
    --red-1: #ff3900;
    --gold-1: #776d28;
    --gold-2: #90803a;
    --header-width: 8.8rem;
    --padding-fluid-left: calc(var(--header-width) + var(--padding));
    --padding-fluid-right: 2.4rem;
    --padding-fluid: 3rem;
    --padding: 1.2rem;
    --py-header: 2.4rem;
    --inner-menu-height: 7rem;
    --swiper-theme-color: #007aff;
    --scrollbar: 7.5px;
    --w-100vw: calc(100vw - var(--scrollbar));
    font-family: Freigeist,
    sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-left: var(--padding);
    padding-right: var(--padding);
    max-width: 100%;
    position: relative;
    width: 100%;
    z-index: 10;
    visibility: visible;
    backface-visibility: hidden;
    height: auto;
    min-height: 49rem;
    margin-top: auto;
    padding-top: var(--padding);